@page "/admin/userManagement/userManager"

@using Symphony.BlazorServerApp.Controls.TableComponents

@inject UserManager<AppUser> userManager
@inject RoleManager<AppRole> roleManager
@inject NavigationManager nav


<AuthorizeView Roles="admin">
    <Authorized>
        @if (Users is null)
        {
            <div class="text-center">
                <div class="loadingio-spinner-bars-f8jbu6upslt">
                    <div class="ldio-p5olh5z9oq">
                        <div></div><div></div><div></div><div></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid">
                <h1 class="text-center fw-bolder">User Manager</h1>
                <CreateButton Url="admin/userManagement/createUser" Who="a New User" />
                <TableTemplate Caption="Users" Items="Users" Context="user">
                    <TableHeader>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>@nameof(User.DOB)</th>
                        <th>@nameof(User.Gender)</th>
                        <th>Phone Number</th>
                        <th>@nameof(User.Address)</th>
                        <th>Batch ID</th>
                        <th>@nameof(User.Email)</th>
                        <th>Email Confirmation</th>
                        <th>Created At</th>
                        <th></th>
                    </TableHeader>
                    <RowTemplate>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.DOB</td>
                        <td>@user.Gender</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Address</td>
                        <td>
                            <a href="admin/batchManagement/@user.BatchId"
                               class="link-dark">
                            @user.BatchId
                            </a>
                        </td>
                        <td>@user.Email</td>
                        <td>@(user.EmailConfirmed ? "Confirmed" : "Unconfirmed")</td>
                        <td>@user.CreatedAt.ToShortDateString()</td>
                        <td class="text-center">
                            <NavLink href=@($"/admin/userManagement/editUser/{user.Id}") class="material-icons nav-item text-warning me-4">edit</NavLink>
                            <button @onclick="() => DeleteUser(user.Email)" class="btn material-icons nav-item text-danger me-2">delete</button>
                        </td>
                    </RowTemplate>
                </TableTemplate>
            </div>
        }

    </Authorized>
    <NotAuthorized>
        <UnauthorizedAccess />
    </NotAuthorized>
</AuthorizeView>


@code {

    #region DTO
    private List<AppUserVM> Users { get; set; }
    private AppUserVM User { get; set; }
    private bool render = false;
    #endregion

    protected async override Task OnInitializedAsync()
    {
        var users = await userManager.GetUsersInRoleAsync("student");

        Users = users.Select(u => u.AsVM()).ToList();
    }

    private async Task DeleteUser(string email)
    {
        var user = await userManager.FindByEmailAsync(email);

        if (user is not null) await userManager.DeleteAsync(user);
        //render = !render;
        var student = await userManager.GetUsersInRoleAsync("student");

        Users = student.Select(u => u.AsVM()).ToList();
    }
}
