@page "/admin/subject/{id:int}"

@inject ISubjectService subjectService
@using Symphony.BlazorServerApp.Services.SubjectServices
@using Symphony.BlazorServerApp.Controls.UploadComponents
@using Symphony.BlazorServerApp.Controls.TableComponents

<AuthorizeView Roles="admin">
    <Authorized>
        <div class="container-lg">
            <h1 class="text-center fw-bolder">Subject Manager</h1>
            <div class="main-content">
                <ul>
                    <li class="fw-bolder">@nameof(Subject.Id)</li>
                    <li>@Subject.Id</li>
                    <li class="fw-bolder">@nameof(Subject.Name)</li>
                    <li>@Subject.Name</li>
                    <li class="fw-bolder">@nameof(Subject.Description)</li>
                    <li>@Subject.Description</li>
                    <li class="fw-bolder">@nameof(Subject.Duration)</li>
                    <li>@Subject.Duration Hours</li>
                    <li class="fw-bolder">@nameof(Subject.Price)</li>
                    <li>$ @Subject.Price</li>
                </ul>
                <aside>
                    <div class="subject-image">
                        @if (Subject.Images is not null)
                        {
                            @foreach (var image in Subject.Images)
                            {
                                <div class="images">
                                    <img class="w-50 h-auto" src="http:/localhost:39699/@image.Path" />
                                </div>
                            }
                        }
                        else
                        {
                            <p>There is no image upload for this Subject yet. <a href="#imageUp">Upload one?</a></p>
                        }
                    </div>
                    <div class="subject-file">
                        @if (Subject.Files is not null)
                        {
                            <ul>
                                @foreach (var file in Subject.Files)
                                {
                                    <li>@file.FileName.Humanize() <span class="ps-5 material-icons btn">files</span></li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>There is no file upload for this Subject yet. <a href="#fileUp">Upload one?</a></p>
                        }
                    </div>
                </aside>
            </div>
            <div class="upload">
                <div class="images-upload">
                    <ImageComponent SubjectVM="Subject" />
                </div>
                <div class="files-upload">
                    <FileComponent SubjectVM="Subject" />
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <UnauthorizedAccess />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }
    private SubjectVM Subject { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        Subject = await subjectService.GetSubjectVMAsync(id: Id);
    }
}
