@page "/admin/subject"

@inject ISubjectService subjectService
@using Symphony.BlazorServerApp.Services.SubjectServices
@using Symphony.BlazorServerApp.Controls.TableComponents

<AuthorizeView Roles="admin">
    <Authorized>
        <div class="container-lg">
            <h1 class="text-center fw-bolder">Subjects Manager</h1>
            <CreateButton Url="/admin/subject/create" Who="a New Subject" />
            <TableTemplate Caption="Subjects" Items="Subjects" Context="sub">
                <TableHeader>
                    <th>@nameof(Subject.Id)</th>
                    <th>@nameof(Subject.Name)</th>
                    <th>@nameof(Subject.Description)</th>
                    <th>@nameof(Subject.Price)</th>
                    <th>@nameof(Subject.Duration)</th>
                    <th>@nameof(Subject.IsShown)</th>
                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td>@sub.Id</td>
                    <td>
                        <a href="/admin/subject/@sub.Id">@sub.Name</a>
                    </td>
                    <td>@sub.Description</td>
                    <td>@sub.Price</td>
                    <td>@sub.Duration</td>
                    <td>@(sub.IsShown ? "Show" : "Hidden")</td>
                    <td class="text-center">
                        <a href="/admin/subject/edit/@sub.Id" class="material-icons nav-item text-warning me-4">edit</a>
                        <button @onclick="() => DeleteSubject(sub.Id)" class="btn material-icons text-danger me-2">delete</button>
                    </td>
                </RowTemplate>
            </TableTemplate>
        </div>
    </Authorized>
    <NotAuthorized>
        <UnauthorizedAccess />
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<SubjectVM> Subjects { get; set; } = new();
    public SubjectVM Subject { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Subjects = (await subjectService.GetSubjectVMsAsync()).ToList();
    }

    private async Task DeleteSubject(int id)
    {
        if (id != 0) await subjectService.ChangeSubjectState(id);

        StateHasChanged();
    }
}
