@inject IEventService eventService
@using Symphony.BlazorServerApp.Services.EventServices
@using Symphony.ViewModels.VMs
@inject NavigationManager Nav

<EditForm Model="@InputNew" OnValidSubmit="CreateEvent" class="row g-3">
    <DataAnnotationsValidator />
    <div class="col-md-12">
        <label class="form-label fw-bold">@nameof(InputNew.Title) <span class="text-danger fw-bold">*</span></label>
        <InputText @bind-Value="InputNew.Title" class="form-control" />
        <ValidationMessage For="@(() => InputNew.Title)" />
    </div>
    <div class="col-md-12">
        <label class="form-label fw-bold">@nameof(InputNew.Description) <span class="text-danger fw-bold">*</span></label>
        <div class="form-outline mb-4">
            <textarea class="form-control" @bind="InputNew.Description" id="textAreaExample6" rows="20"></textarea>
          
        </div>
        <ValidationMessage For="@(() => InputNew.Description)" />
    </div>
    <div class="col-md-6">
        <label class="form-label fw-bold">@nameof(InputNew.IsShown) <span class="text-danger fw-bold">*</span></label>
        <input type="checkbox" checked @bind-value="InputNew.IsShown" />
        <ValidationMessage For="@(() => InputNew.IsShown)" />
    </div>

    <CreateButtonForForm />
</EditForm>
@code {
    #region Parameter
    public CreateEventVM InputNew { get; set; } = new();



    #endregion
    private async Task CreateEvent()
    {
        var newitem = new CreateEventVM
        {
            Title = InputNew.Title,
            Description = InputNew.Description,
            IsShown = InputNew.IsShown
        };
        await eventService.CreateEventAsync(newitem);
        Nav.NavigateTo("/admin/event/");
    }
}
