<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand mx-auto" href="">Symphony Institute</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3 fw-bold ">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons me-2">
                    dashboard
                </span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3 fw-bold btn">
            <NavLink class="nav-link" @onclick="() => expandSubMenuUser = !expandSubMenuUser">
                <span class="material-icons me-2">
                    people
                </span> User Management
                <span class="material-icons me-2">
                    @(expandSubMenuUser ? "expand_less" : "expand_more")
                </span>
            </NavLink>
            @if (expandSubMenuUser)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/userManagement/adminManager"><span class="material-icons me-2">badge</span>Admin</NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/userManagement/createTeacher">
                            <span class="material-icons me-2">supervisor_account</span>
                            Teacher
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/userManagement/userManager">
                            <span class="material-icons me-2">group</span>
                            User
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3 fw-bold btn">
            <NavLink class="nav-link" @onclick="() => expandSubMenuCourse = !expandSubMenuCourse">
                <span class="material-icons me-2">
                    menu_book
                </span>
                Course Management
                <span class="material-icons me-2">
                    @(expandSubMenuCourse ? "expand_less" : "expand_more")
                </span>
            </NavLink>
            @if (expandSubMenuCourse)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/courseManagement"><span class="material-icons me-2">people</span>Course</NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/subjectManagement"><span class="material-icons me-2">subject</span> Subject</NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3 fw-bold btn">
            <NavLink class="nav-link" @onclick="() => expandSubMenuExam = !expandSubMenuExam">
                <span class="material-icons me-2">
                    quiz
                </span> Exam Management
                <span class="material-icons me-2">
                    @(expandSubMenuExam ? "expand_less" : "expand_more")
                </span>
            </NavLink>
            @if (expandSubMenuExam)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/examManagement"><span class="material-icons me-2">quiz</span>Exam</NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/resultManagement"><span class="material-icons me-2">task</span> Result</NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3 fw-bold btn">
            <NavLink class="nav-link" @onclick="() => expandSubMenuRegistration = !expandSubMenuRegistration">
                <span class="material-icons me-2">
                    feed
                </span>
                Registration
                <span class="material-icons me-2">
                    @(expandSubMenuRegistration ? "expand_less" : "expand_more")
                </span>
            </NavLink>
            @if (expandSubMenuRegistration)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/registrationManagement">
                            <span class="material-icons me-2">school</span>
                            Registration
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/consultsManager">
                            <span class="material-icons me-2">
                                forum
                            </span>Consults
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link expand-menu" href="admin/batchManagement">
                            <span class="material-icons me-2">
                                class
                            </span>Batch Management
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3 ">
            <NavLink class="nav-link" href="/courses">
                <span class="material-icons me-2">
                    class
                </span> Courses
            </NavLink>
        </li>
        <li class="nav-item px-3 ">
            <NavLink class="nav-link" href="/studentCorner">
                <span class="material-icons me-2">
                    menu_book
                </span> Student Corner
            </NavLink>
        </li>
        <li class="nav-item px-3 ">
            <NavLink class="nav-link" href="/faq">
                <span class="material-icons me-2">
                    question_answer
                </span> FAQ
            </NavLink>
        </li>
        <li class="nav-item px-3 ">
            <NavLink class="nav-link" href="/aboutus">
                <span class="material-icons me-2">
                    help
                </span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    #region expand Sub menu

    private bool expandSubMenuUser = false;
    private bool expandSubMenuCourse = false;
    private bool expandSubMenuExam = false;
    private bool expandSubMenuRegistration = false;



    #endregion

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
