@page "/admin/userManagement/adminManager"

@inject UserManager<AppUser> userManager
@inject RoleManager<AppRole> roleManager
@using Symphony.BlazorServerApp.Controls.TableComponents

<AuthorizeView Roles="admin">
    <Authorized>
        <h1 class="text-center fw-bolder">Admin Manager</h1>
        <div class="w-25">
            <a class="btn btn-dark text-white w-75 d-flex justify-content-around" href="/admin/userManagement/createAdmin">
                <span>Create a New Admin</span>
                <span class="material-icons">add</span>
            </a>
        </div>
        <TableTemplate Caption="Admins" Items="Users" Context="user">
            <TableHeader>
                <td><p>@nameof(User.FirstName)</p></td>
                <td><p>@nameof(User.LastName)</p></td>
                <td><p>@nameof(User.DOB)</p></td>
                <td><p>@nameof(User.Gender)</p></td>
                <td><p>@nameof(User.PhoneNumber)</p></td>
                <td><p>@nameof(User.Address)</p></td>
                <td><p>@nameof(User.Email)</p></td>
                <td><p>@nameof(User.EmailConfirmed)</p></td>
                <td><p>@nameof(User.CreatedAt)</p></td>
                <td></td>
            </TableHeader>
            <RowTemplate>
                <td><p>@user.FirstName</p></td>
                <td><p>@user.LastName</p></td>
                <td><p>@user.DOB</p></td>
                <td><p>@user.Gender</p></td>
                <td><p>@user.PhoneNumber</p></td>
                <td><p>@user.Address</p></td>
                <td><p>@user.Email</p></td>
                <td><p>@(user.EmailConfirmed ? "Confirmed" : "Unconfirmed")</p></td>
                <td><p>@user.CreatedAt</p></td>
                <td class="text-center">
                    <a href="/admin/userManagement/editAdmin/{@(user.Id)}" class="material-icons nav-item text-warning me-4">edit</a>
                    <a href="/admin/userManagement/deleteAdmin/@(user.Id)}" class="material-icons nav-item text-danger">delete</a>
                </td>
            </RowTemplate>
        </TableTemplate>
    </Authorized>
    <NotAuthorized>
        <UnauthorizedAccess />
    </NotAuthorized>
</AuthorizeView>


@code {

    #region DTO
    public List<AppUserVM> Users { get; set; } = new();
    public AppUserVM User { get; set; }
    #endregion

    protected async override Task OnInitializedAsync()
    {
        var users = await userManager.GetUsersInRoleAsync("admin");

        Users = users.Select(u => u.AsVM()).ToList();
    }
}
