@using Symphony.BlazorServerApp.Services.SubjectServices
@using System.Net.Http.Headers

@inject ISubjectService subjectService


<EditForm Model="@SubjectVM" OnValidSubmit="@UpdateImages">
    <DataAnnotationsValidator />
    <ValidationSummary />
        <div id="#imageUp" class="mb-2">
            <label class="form-label fw-bold">@nameof(SubjectVM.Images)</label>
            <InputFile OnChange="@OnInputChanged" class="form-control" accept=".jpg , .png, .jpeg" multiple />
        </div>
        <div class="border-1 rounded-1">
            @foreach (var uri in imageDataUris)
            {
                <img src="@uri" class="p-1 w-auto" height="100" />
            }
        </div>
        <CreateButtonForForm FirstBtn="Update Existing" />
</EditForm>

<div class="toast fw-bold align-items-center text-white @(IsSuccess ? "bg-success" : "bg-danger") border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            @(IsSuccess ? "Images uploaded successfully!" : "Something went wrong, please try again!").
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

@code {
    [Parameter]
    public SubjectVM SubjectVM { get; set; }
    private List<string> imageDataUris { get; set; } = new();
    private MultipartFormDataContent content = new();
    #region constant

    private bool shouldRender;
    private bool IsSuccess;
    private bool upload;
    private const long maxFileSize = 1024 * 1024 * 15;
    private const int maxAllowedFiles = 3;

    #endregion
    protected override bool ShouldRender() => shouldRender;

    private async Task OnInputChanged(InputFileChangeEventArgs e)
    {
        shouldRender = false;
        upload = false;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));

                fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

                content.Add(
                    content: fileContent,
                    name: "\"images\"",
                    fileName: file.Name
                    );

                //Show images to browser
                var imageFile = await file.RequestImageFileAsync("image", maxWith: 640, maxHeight: 480);
                using Stream fileStream = imageFile.OpenReadStream(maxAllowedSize: maxFileSize);

                using MemoryStream ms = new();
                await fileStream.CopyToAsync(ms);

                imageDataUris.Add($"data:image/jpeg;base64,{Convert.ToBase64String(ms.ToArray())}");
                //

                upload = true;
            }
            catch (Exception ex)
            {
                throw ex;
            }
        }
        shouldRender = true;
    }

    private async Task UpdateImages()
    {
        if (upload)
        {
            var response = await subjectService.UpdateSubjectImagesVMAsync(SubjectVM.Id, content);

            if (response == 1)
            {
                IsSuccess = true;
            }
            else
            {
                IsSuccess = false;
            }
        }
        StateHasChanged();
        shouldRender = true;
    }
}